@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Page background */
  --color-background: light-dark(#ffffff, #0a0a0a);

  /* Elevated surfaces (header, cards, modals) */
  --color-surface: light-dark(#e4e4e7, #27272a);

  /* Interactive elements (nav buttons, links) */
  --color-interactive: light-dark(#f4f4f5, rgba(113, 113, 122, 0.1));
  --color-interactive-hover: light-dark(#ffffff, #09090b);

  /* Text colors */
  --color-text: light-dark(#18181b, #e4e4e7);

  /* Border Color */
  --color-border: light-dark(#d4d4d8, #3f3f46);
}

@layer utilities {
  :where(.dark, .dark _) {
    color-scheme: dark;
  }
}
